/* colores */
/*

gris semioscuro rgba(55,57,57,255);
gris oscuro rgba(34,36,37,255);

rojo semaforo rgba(255,96,87,255);
verde semaforo rgba(98,186,71,255);
amarillo semaforo rgba(254,189,46,255);
blanco letra rgba(235,235,235,255);
azul menu rgba(2,122,255,255);

gris intermedio rgba(90,92,92,255);

*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.barraBusqueda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.barraBusqueda h5{
    margin-bottom: 0;
    color: rgba(55,57,57,255);
}

.vl{
    border-left: 1px solid darkgray;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;

}

.carrito-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carrito-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.linkInterno{
    text-decoration: none;
    color: white;
}

.swal-button {
    background-color: rgba(254,189,46,255);
    }